.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.pagination {
  display: flex;
  justify-content: space-around;
  z-index: 20;
}

.pagination .dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  margin-right: 20px;
  border-radius: 10px;
}
.pagination .dot-active {
  background-color: #ffffff;
  border-color: #000000;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

.title {
  position: absolute;
  padding: 10px;
  background-color: lightgray;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
